// Copyright 2019 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~styl/base/palette.styl'

.network-table

  &__cell
    text-align center
    width 95px

    &--header
      background-color $link-color

    &--header:nth-child(1)
      width 45px

    &--header-warning
      color $alert-color

    &--spacer
      border 0
      background-color $background-color
      width 45px

    &--self
      background-color $table-border-color

    &--stddev-plus-2
      background-color $plus-2

    &--stddev-plus-1
      background-color $plus-1

    &--stddev-even
      background-color $even

    &--stddev-minus-1
      background-color $minus-1

    &--stddev-minus-2
      background-color $minus-2

    &--no-connection
        color $alert-color
