// Copyright 2020 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

.__actions
  button, a
    width auto
    color #f6f6f6
    font-size 12px
    font-family Lato-Bold
    line-height 2
    letter-spacing 0.1px
    &:hover
      color #5f6c87

.drawer--preset-black
  display flex
  align-items center
  /* width */
  ::-webkit-scrollbar {
    width 7px
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background transparent
    border-radius 10px
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background #5f6c87
    border-radius 10px
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background #5f6c87ad
  }
  :global(.ant-divider)
    width 1px
    background #5f6c87
    margin: 0 15px
    height 14px
  .__actions
    button, a
      width auto
      color #f6f6f6
      font-size 12px
      font-family Lato-Bold
      line-height 2
      letter-spacing 0.1px
      &:hover
        color #5f6c87
  :global(.ant-drawer-content)
    overflow auto
  :global(.ant-drawer-mask)
    background-color transparent
  :global(.ant-drawer-content-wrapper)
    padding-left 80px
    box-shadow none !important
  :global(.ant-drawer-content)
    background #242a35
  :global(.ant-drawer-header)
    padding 15px 0
    margin 0 24px
    background transparent
    border-bottom: 1px solid #5f6c87;
  :global(.ant-drawer-body)
    padding 15px 20px
    margin 0 4px
    height 190px
    overflow-x hidden
    overflow-y auto


