// Copyright 2020 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~styl/base/palette.styl'
@require '~styl/base/layout-vars.styl'

.page-config
  // Stick to the top.
  position sticky
  position -webkit-sticky
  top 0
  // We want 10px of spacing above and below this div when
  // it's fixed during scrolling, but not when the page
  // is scrolled to the top. This combination of padding
  // and negative margins achieves that.
  padding-bottom 10px
  padding-top 10px
  margin-bottom -10px
  margin-top -10px

  z-index $z-index-page-config
  background-color $background-color

  &__list
    display flex
    justify-content flex-start
    align-items center

    .page-config__item
      margin-right 12px

  &__spread
    display flex
    justify-content space-between
    align-items center

  &__item
    list-style none
