// Copyright 2021 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~src/components/core/index'

.error-message-page
  min-width 320px
  &__content
    display flex
    flex-direction column
    align-items center
    margin 0 $spacing-large
  &__img
    max-width 100%
  &__body
    text-align center
    max-width 450px
    padding $spacing-xx-large 0 $spacing-x-large
    font-family $font-family--base
    font-size $font-size--medium
    line-height $line-height--medium
    color $colors--neutral-6
  &__message
    color $colors--neutral-9
    font-size $font-size--large
    line-height $line-height--large
    font-weight $font-weight--bold
    margin-bottom 0
