// Copyright 2020 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~src/components/core/index.styl'

.alert-massage
  max-width 470px
  min-height 50px
  font-size $font-size--small
  // it is !important because Ant sets margin to 0
  // when closing animation happens and Alert panel
  // jumps to the left side.
  margin 0 0 0 auto!important
  padding-left 48px
  border-radius 3px
  box-shadow 0 0 10px 0 rgba(71, 88, 114, 0.47)
  background-color $colors--white
  border-color $colors--white
  display: flex;
  flex-direction column
  justify-content center

  .alert-massage__icon
    font-size 20px
    left 16px
    top 15px
  .ant-alert-close-icon
    margin unset
    right 0
    top 0
    padding-right 16px
  .ant-alert-message
    @extends $text--body-strong
    color $colors--neutral-8

  &__close-text
    color $colors--neutral-7
    margin $spacing-smaller 0
    font-size $font-size--large
    line-height $spacing-smaller
    font-weight $font-weight--extra-bold

.ant-alert-success .alert-massage__icon
  color $colors--primary-green-3
