// Copyright 2020 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require "~src/components/core/index"

.root
  display flex
  flex-direction row
  width 75%
  border-left solid 4px
  border-radius 5px
  padding $spacing-smaller $spacing-medium $spacing-smaller 0
  &.full-width
    width 100%

.main-container
  display flex
  flex-direction column
  flex-grow 1

.title
  @extends $text--body-strong

.icon-container
  padding 0 $spacing-small

.intent-info
  border-left-color $colors--primary-blue-3
  background-color $colors--primary-blue-1

.intent-error
  border-left-color $colors--functional-red-3
  background-color $colors--functional-red-1

.intent-warning
  border-left-color $colors--functional-orange-3
  background-color $colors--functional-orange-1
