// Copyright 2018 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~src/components/core/index.styl'

.tooltip-wrapper
  :global(.ant-tooltip-arrow)
    width 20px
    height 20px
    &::before
      background-color: $colors--neutral-0
      width 20px
      height 20px
      border: solid 1px #e7ecf3;
      box-shadow: none;

:global(.ant-tooltip).tooltip__preset--white
  max-width 500px
  :global(.ant-tooltip-inner)
    padding 10px
    border-radius 3px
    border solid 1px $colors--neutral-2
    box-shadow 0 4px 4px 0 rgba(0, 0, 0, 0.15)
    background rgba($colors--neutral-0, .98)
    font-family $font-family--base
    text-align left
    color $colors--neutral-6
