// Copyright 2019 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require "~src/components/core/index.styl"

// Using the same strategy as sassline: establish the root size (rems) as 1/2
// of our chosen baseline height. This allows easy, integer math for baseline units
// using rems.
html
  font-size $font-size--medium

body
  line-height $line-height--small
  font-size $font-base-size
  font-family Lato-Regular
  font-weight $font-weight--light

h1.base-heading
  font-size 24px
  font-family SourceSansPro-Regular
  line-height initial

h2.base-heading
  padding 12px 0
  font-size 24px
  font-family SourceSansPro-Regular

h3.base-heading
  color $colors--neutral-7
  font-family $font-family--base
  font-weight 600
  font-style normal
  font-stretch normal
  font-size 20px
  padding-bottom 12px

code
  font-family $font-family--monospace
