// Copyright 2019 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~src/components/core/index.styl'

.login-indicator
  &__title
    margin-left $spacing-smaller
    margin-right $spacing-x-small

.login-indicator--insecure
  display flex
  flex-direction row
  font-family $font-family--base
  color $colors--functional-orange-4
  align-items center
  cursor default
  font-size $font-size--medium
  line-height 22px
  .image-container
    width 32px
    height 32px
    display flex
    justify-content center
    align-items center
    border-radius 16px
    background-color $colors--functional-orange-1
