// Copyright 2019 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require "~styl/base/palette.styl"
@require '~src/components/core/index'

.user-menu
  display flex
  flex-direction column
  font-size 14px
  min-width 174px
  text-transform none
  text-align left
  font-weight normal
  font-family $font-family--base

.user-menu__item
  padding 0 16px

.user-menu__username
  color $colors--neutral-7
  padding 10px 16px
  font-weight bold

.user-menu__logout-menu-item
  color $colors--primary-blue-3
  border-top-width 1px
  border-top-color $popover-border-color
  border-top-style solid
  padding 10px 16px 14px

