// Copyright 2018 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~src/components/core/index.styl'

.embedded-table
  padding 0 $spacing-medium-small $spacing-medium-small

.embedded-table--dense
  padding 0 $spacing-medium-small $spacing-base
.nodes-overview
  background $colors--neutral-1
  &__panel
    background $colors--neutral-0
    margin-bottom $spacing-small
    border 1px solid rgb(237, 237, 237)
    box-shadow 0 0 1px 0 rgba(67, 90, 111, 0.41)
    border-radius 3px

.status-column
  &--color-warning
  &--color-suspect
    color $colors--functional-orange-3
  &--color-dead
    color $colors--functional-red-3

.nodes-list-container
  background $background-color
  display flex
  flex-direction column

.nodes-list-container > *
  margin-bottom $spacing-smaller

.nodes-list-container > *:last-child
  margin-bottom 0

.nodes-overview__panel .crl-table-wrapper .nodes-table__link
  color $colors--link

.nodes-overview__panel .crl-table-wrapper .ant-table-row:hover .nodes-table__link
  text-decoration underline
